<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lessonbot</string>

  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-lc</string>
    <string>cd "/Users/danzolotar/Documents/New project" &amp;&amp; ./run_bot.sh</string>
  </array>

  <key>WorkingDirectory</key>
  <string>/Users/danzolotar/Documents/New project</string>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/Users/danzolotar/Documents/New project/bot.out.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/danzolotar/Documents/New project/bot.err.log</string>
</dict>
</plist>
